* {
    margin: 0;
    padding: 0;
    font-family: 'Shippori Mincho', serif;
    font-family: 'Noto Serif JP', serif;
}

body {
    background-color: #E3D6C9;
}

h1 {
    color: white;
    font-size: 96px;
    font-family: 'Shippori Mincho';
}

a {
    text-decoration: none;
    color: #000;
    background-image: linear-gradient(90deg, #A95B00, #A95B00);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 0 1px;
}

header {
    position: fixed;
    inset: 0 0 85% 0;
    margin: auto;
    height: 40px;
    width: 90%;
    border-radius: 90px;

    background-color: #F5EFE6;
    color: #000;

    padding: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 1;
}

header #g-nav {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

header #g-nav div:first-child {
    margin-right: auto;
}

header #g-nav a {
    padding: 10px;
    transition: all 0.3s;
}

header .current {
    color: #A95B00;
    background-size: 100% 1px;
}

#firstview {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/firstview.png);
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    margin: 10% 10% 5% 10%;
    color: #A95B00;
    align-items: center;
}

.line {
    position: relative;
    display: inline-block;
    content: "";
    margin: 0 10px;
    width: 50px;
    border-top: 1px solid #A95B00;
}

.sub-title {
    font-size: 26px;
}

.main-title {
    font-size: 50px;
    margin: 0 10%;
}

.background-text {
    color: rgba(255, 255, 255, 0.6);
    font-size: 128px;
    position: absolute;
    left: 70%;
    z-index: -1;
}

#why .text-left,
#why .text-right {
    display: flex;
    text-align: center;
    padding: 20px 50px;
}

.why-content-right,
.why-content-left {
    width: 40vw;
    margin: 20px 2.5vw;
    justify-content: center;
}

#why img {
    width: 40vw;
    margin: 0 2.5vw;
    border-radius: 3em;
}

.why-content-title {
    color: #A95B00;
    font-size: 28px;
    margin: 50px 0;
}

#why p {
    text-align: left;
    width: 60%;
    margin: 0 20%;
    font-size: 18px;
    line-height: 1.8em;
}

.points {
    text-align: center;
    justify-content: center;
}

.point {
    margin: 130px 0;
}

.point-num {
    color: #D1490F;
    font-size: 48px;
    margin: 20px;
}

.point-content {
    background-color: #EDEDED;
    border-radius: 90px;
    text-align: center;
    width: 80%;
    margin: 0 10%;
    padding: 40px 0;
}

.point-title {
    font-size: 48px;
    margin: 20px;
}

.point-text {
    text-align: left;
    font-size: 24px;
    width: 80%;
    margin: 40px 10%;
}