* {
    margin: 0;
    padding: 0;
    font-family: 'Shippori Mincho', serif;
    font-family: 'Noto Serif JP', serif;
}

@font-face {
    font-family: "Noto Sans CKJ JP";
    src: url(../fonts/NotoSansCJKjp-VF.ttf) format("truetype");
    font-weight: normal;
}

body {
    background-color: #E3D6C9;
}

body * {
    font-family: "Noto Sans CKJ JP";
}

h1 {
    color: white;
    font-size: 96px;
    font-family: 'Shippori Mincho';
}

a {
    text-decoration: none;
    color: #000;
    background-image: linear-gradient(90deg, #A95B00, #A95B00);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 0 1px;
}

header {
    position: fixed;
    inset: 0 0 85% 0;
    margin: auto;
    height: 40px;
    width: 90%;
    border-radius: 90px;

    background-color: #F5EFE6;
    color: #000;

    padding: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 1;
}

header #g-nav {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0 20px;
}

header #g-nav div:first-child {
    margin-right: auto;
}

header #g-nav a {
    font-family: 'Noto Serif JP', serif;
    margin: 0 10px;
    padding: 10px;
    transition: all 0.3s;
}

header .current {
    color: #A95B00;
    background-size: 100% 1px;
}

#firstview {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/firstview.png);
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    margin: 10% 10% 5% 10%;
    color: #A95B00;
    align-items: center;
}

.line {
    position: relative;
    display: inline-block;
    content: "";
    margin: 0 10px;
    width: 50px;
    border-top: 1px solid #A95B00;
}

.sub-title {
    font-size: 26px;
    font-weight: 100;
}

.main-title {
    font-family: 'Noto Serif JP', serif;
    font-size: 50px;
    margin: 0 10%;
}

.background-text {
    font-family: 'Noto Serif JP', serif;
    color: rgba(255, 255, 255, 0.6);
    font-size: 128px;
    position: absolute;
    left: 70%;
    z-index: -1;
}

#why .text-left,
#why .text-right {
    display: flex;
    text-align: center;
    padding: 20px 50px;
}

.why-content-right,
.why-content-left {
    width: 40vw;
    margin: 20px 2.5vw;
    justify-content: center;
}

#why img {
    width: 40vw;
    margin: 0 2.5vw;
    border-radius: 3em;
}

.why-content-title {
    color: #A95B00;
    font-size: 28px;
    margin: 50px 0;
}

#why p {
    text-align: left;
    width: 60%;
    margin: 0 20%;
    font-size: 18px;
    line-height: 1.8em;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item {
    position: relative;
    width: 20%;
    margin: 50px 6%;
    cursor: pointer;
}

.item img {
    width: 100%;
    border: solid 1px #A95B00;
    border-radius: 50%;
    padding: 10px;
}

.place {
    position: absolute;
    top: -20%;
    left: 70%;
    text-align: center;
    display: table;
    background-color: #A95B00;
    border: solid 1px #A95B00;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    width: 80px;
    height: 80px;
}

.place p {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background: rgba(0, 0, 0, 50%);
    padding: 40px 20px;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    box-sizing: border-box;
}

/*モーダル本体の擬似要素の指定*/
.modal-container:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

/*モーダル本体に「active」クラス付与した時のスタイル*/
.modal-container.active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

/*モーダル枠の指定*/
.modal-body {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 700px;
    /* width: 90%; */
}

/*モーダルを閉じるボタンの指定*/
.modal-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -40px;
    right: -40px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}

/*モーダル内のコンテンツの指定*/
.modal-content {
    background: #fff;
    text-align: left;
    padding: 30px;
    border-radius: 20px;
}

.modal-container hr {
    margin: 10px 0;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.modal-header div:first-child {
    margin-right: auto;
}

.modal-header div {
    margin: 0 5px;
}

.name {
    font-size: 32px;
}

.modal-main {
    display: flex;
}

.modal-main img {
    width: 60%;
    height: 300px;
    object-fit: cover;
    margin: 30px;
}

.modal-main p {
    padding: 50px 20px;
    line-height: 1.5em;
}

.points {
    text-align: center;
    justify-content: center;
}

.point {
    margin: 130px 0;
}

.point-num {
    font-family: 'Shippori Mincho', serif;
    color: #D1490F;
    font-size: 48px;
    margin: 20px;
}

.point-content {
    background-color: #EDEDED;
    border-radius: 90px;
    text-align: center;
    width: 80%;
    margin: 0 10%;
    padding: 40px 0;
}

.point-title {
    font-size: 32px;
    margin: 20px;
}

.point-text {
    text-align: left;
    font-size: 20px;
    font-weight: 100;
    width: 80%;
    margin: 40px 10%;
}

.point img {
    width: 40%;
}

footer {
    text-align: center;
    font-size: 24px;
    margin: 50px 0;
}

footer div {
    font-family: 'Shippori Mincho', serif;
}

footer p {
    font-size: 14px;
    margin: 50px;
}

.fuwatAnime {
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}